<div class="py-2 px-6 bg-indigo-50 flex justify-start items-center rounded">
  <img src="https://cptstatic.s3.amazonaws.com/imagens/enviadas/materias/materia16043/caracteristicas-cavalos-saudaveis-artigos-cursos-cpt.jpg", style="height: 25px; width: 25px" />
  <div class="leading-normal flex-1 pl-4 flex justify-between items-center">
    <p class="italic text-gray-700">Remove ads</p>
    <div>
      <%= link_to "Remove ads", pricing_path, class: "text-xs text-indigo-600 underline" %>
    </div>
  </div>
</div>
